.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.li {
    list-style: none;
}



.a {
    text-decoration: none;
    color: #ddb1d4;
}

.a:hover {
    color: #48b6d1;

}


/*MOBIL*/
.burger{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #ddb1d4;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger{
        display: block;
    }

    .ul{
        position: absolute;
        top: 70px;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #111;
        display: none;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .ul.open{
        display: flex;
    }
}